.mainContainer{
    display: flex;
    flex-direction: row;
}
.subContainer1{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100vh;
    border-style: double;
    border-width: 6px;
}
.subContainer2{
    text-align: center;
    width: 33%;
    height: 100vh;
    border-style: double;
    border-width: 6px;
}
.subContainer3{
    text-align: center;
    width: 33%;
    height: 100vh;
    border-style: double;
    border-width: 6px;
}